body {
 margin: 10px;
 display: inline-block;
}
div {
 margin: 4px;
}
p {
 margin: 4px;
}
form {
 margin: 5px;
 background-color: rgb(197, 228, 228);
}
.lastName input {
  display:inline-block;
  margin-left: 57px;
  width: 320px;
}
.ferstName select {
  display: inline-block;
  margin-left: 112px;
  margin-top: 3px;
  width: 200px;
}
.pablic label:first-child {
  margin-right: 81px;
}
textarea {
 resize: horizontal;
 width: 500px;
 max-height: 50px;
}
.asept {
  margin-bottom: 3px;
}
.asept input {
  margin-bottom: 3px;
}
.mytext textarea {
  margin-top: 3px;
}
button {
 border-radius: 5px;
 padding: 5px;
}
@media all and (max-width: 768px) {
body {
 font-size: 100%;
}
.pablic label:first-child {
  margin-right: 3px;
}
.ferstName select {
  display: block;
  margin: 3px;
  width: 300px;
}
.lastName input {
  display: block;
  width: 295px;
  margin-left: 0;
}
textarea {
 resize: horizontal;
 width: 295px;
 height: 30px;
}
}
@media all and  (max-width: 580px) {
.pablic input {
 display: block;
}
body {
 display: block;
 font-size: 100%;
}
.ferstName select {
  display: block;
  margin: 3px;
  width: 270px;
}
.lastName input {
  display: block;
  width: 265px;
}
textarea {	
 width: 265px;
}
}
